* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
}
.container {
  margin-left: 5px; /*Creates a gap of 5px to the left*/
  margin-right: 5px; /*Creates a gap of 5px to the right*/
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
.title {
  color: aliceblue;
  font-size: large;
}
.numberOnBar {
  color: aliceblue;
  font-weight: bold;
}
.algorithmsContainer {
  list-style: none;
  display: flex;
}
.algorithmsContainer a {
  text-decoration: none;
}
.algorithmsContainer li {
  padding: 0px 20px;
}
.algorithmsContainer li a {
  transition: color 0.3s ease 0s;
}
.algorithmsContainer li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  font-size: 16px;
  background-color: #0082c8;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.stopButton {
  display: none; /*We will hide this button initially*/
}
.normalBar {
  display: inline-block;
  margin-left: 2px;
  background-color: #00c6ff;
  text-align: center;
}
.redBar {
  display: inline-block;
  margin-left: 2px;
  background-color: #eb3349;
  text-align: center;
}
.greenBar {
  display: inline-block;
  margin-left: 2px;
  background-color: #38ef7d;
  text-align: center;
}
