* {
  font-family: "Montserrat", sans-serif;
  color: #edf0f1 !important;
}
.arrayBarsContainer {
  margin-left: 20px; /*Creates a gap of 20px to the left*/
  margin-right: 20px;
}
#headerBar {
  justify-content: space-around;
  padding: 30px;
  pointer-events: auto; /*By setting this to none, all the btns on the navbar would be unclickable */
}
#inputSliderText {
  margin-left: 7px;
  margin-top: 4px;
  font-size: 18px !important;
  cursor: default;
}
#slider {
  cursor: pointer;
}
.numberOnBar {
  visibility: visible; /*Makes the text on the Bar hidden*/
  font-weight: bold;
}
/*
Below is for the transistion effect on Algo names
--STARTS---
*/
.nav-link {
  transition: color 0.3s ease 0s !important;
}
.nav-link:hover {
  color: #0088a9 !important;
}
/*
--ENDS---
*/
button {
  padding: 9px 25px;
  font-size: 16px;
  background-color: #0082c8;
  border-radius: 20px !important;
  border: none;
  cursor: pointer;
}
/*Prevents the red-border when clicking the button*/
button:focus {
  outline: none !important;
}
.stopButton {
  display: none; /*We will hide this button initially*/
}
.normalBar {
  display: inline-block;
  margin-left: 2px;
  background-color: #00c6ff;
  text-align: center;
}
.redBar {
  display: inline-block;
  margin-left: 2px;
  background-color: #eb3349;
  text-align: center;
}
.greenBar {
  display: inline-block;
  margin-left: 2px;
  background-color: #38ef7d;
  text-align: center;
}
